<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Jayesh Parsnani</a>
            </li>
          </ul>
          <h5 style="margin-left:120px;">Quiz_01
          </h5>
        </div>
    </nav>
    <div style="margin-left:600px";>
        <h2><a class="nav-link" href="#">4955</a></h2>
        <img width="200" height="200" src="static/images/m-1.jpg" ></td>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div style="background-color:white";>
        <div style="background-color:white";>
            <h4> Display All the Records that are stored in the file.</h4>
            <form action="/getrecords" method="post" enctype="multipart/form-data">
                <input type="submit" />
            </form>
        </div>
        <div style="margin-top:50px;">
            <h4>1. Display all pictures</h4>
            <form action="/nameimage" method="post" enctype="multipart/form-data">
                <label>Hit submit to get.</label>
                <input type="submit" />
            </form>
            <br>
            <h4>2. Enter Name and write new comment to modify</h4>
            <form action="/changecomment" method="post" enctype="multipart/form-data">
                <label>Enter Name:</label>
                <input type="text" name="name" required/>
                <label>Enter Comment:</label>
                <input type="text" name="comment" required/>
                <label>Enter Income:</label>
                <input type="text" name="income" required/>
                <input type="submit" />
            </form>
        </div>
        
    </div>

</body>
</html>